<h1>Travel Express</h1>

<p>Home page of Travel Express</p>

<p>
	<% if logged_in? %>
		<%= link_to "Log out", logout_path, method: "delete" %>
	<% else %>
    <%= link_to 'Sign up', signup_path, data: { modal: true }, class: 'btn btn-primary' %>
    <%= link_to 'Log in', login_path, data: { modal: true }, class: 'btn btn-primary' %>
	<% end %>
</p>