<a  href="#"><img src="img/about-4.jpg" alt="img" class="tm-about-box-1-img"></a>
<h3 class="tm-about-box-1-title"> <% if logged_in? %> <%= @current_user.first_name %> <%= @current_user.last_name %><% else %>
 Thomas <% end %><span>( Founder )</span></h3>
<p class="margin-bottom-15 gray-text"></p>
<div class="gray-text">
  <a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
  <a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
  <a href="#" class="tm-social-icon"><i class="fa fa-pinterest"></i></a>
  <a href="#" class="tm-social-icon"><i class="fa fa-google-plus"></i></a>
</div>