
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav ">
        <li class="sidebar-brand tm-yellow-text">
          <a href="#" >
            Profile Management
          </a>
        </li>
        <li>
          <%= link_to 'Publish travel', { :controller => :departures, :action => :new }, data: { modal: true } %>
        </li>
        <li>
          <%= link_to 'Preferences', preferences_path, data: { modal: true } %>

        </li>

      </ul>
    </div>

