<section class="container tm-home-section-1 section-margin-top" id="more">
  <div class="row">
    <div class="flexslider effect2">
      <%= image_tag 'about-1.jpg', alt:'image' %>
      <div class="flex-caption">
        <h2 class="slider-title">Welcome To Holiday</h2>
        <h3 class="slider-subtitle">Gravida nibh vel velit auctor aliquet enean sollicitudin lorem quis auctor</h3>
        <p class="slider-description">Holiday is free Bootstrap v3.3.5 responsive template for tour and travel websites. You can download and use this layout for any purpose. You do not need to provide a credit link to us. If you have any question, feel free to <a href="http://www.facebook.com/templatemo" target="_parent">contact us</a>. <br><br>
          Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum.</p>
        <div class="slider-social">
          <a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
          <a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
          <a href="#" class="tm-social-icon"><i class="fa fa-pinterest"></i></a>
          <a href="#" class="tm-social-icon"><i class="fa fa-google-plus"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>