<section class="tm-banner">
  <!-- Flexslider -->
  <div class="flexslider flexslider-banner">
    <ul class="slides">
      <li>
        <div class="tm-banner-inner">
          <h1 class="tm-banner-title">Find <span class="tm-yellow-text">Drivers</span></h1>
          <p class="tm-banner-subtitle">For Your Travels</p>
          <a href="#more"  class="tm-banner-link">Learn More</a>
        </div>
        <%= image_tag 'banner-3.jpg' %>
      </li>
      <li>
        <div class="tm-banner-inner">
          <h1 class="tm-banner-title"><span class="tm-yellow-text">Share</span> Your Car</h1>
          <p class="tm-banner-subtitle"></p>
          <a href="#more" class="tm-banner-link">Learn More</a>
        </div>
        <%= image_tag 'banner-2.jpg' %>
      </li>
      <li>
        <div class="tm-banner-inner">
          <h1 class="tm-banner-title"><span class="tm-yellow-text">Register</span> now</h1>
          <p class="tm-banner-subtitle"></p>
          <a href="#more" class="tm-banner-link">Learn More</a>
        </div>
        <%= image_tag 'banner-1.jpg' %>
      </li>
    </ul>
  </div>
</section>