<div id="modal" class="modal fade">
  <div id="form_wrapper" class="form_wrapper center-block">
    <!-- Inscription -->
    <div class="container">
      <div class="col-md-1 col-md-offset-6">
        <div class="register" id="modal-body"></div>
      </div>
      <!--End Col -->
    </div>
    <!--End Container -->
  </div>
  <!-- End Inscription-->
</div>