<div class="modal fade" id="mainModal" tabindex="-1" role="dialog" aria-labelledby="mainModalLabel" aria-hidden="true">
  <div class="modal-dialog">

    <div class="container">


      <div class="row">
          <div class="modal-content">
            <% if content_for? :title %>
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
              </button>

                <h4 class="modal-title" id="mainModalLabel">
                  <%= yield :title %>&nbsp;
                </h4>

            </div>
            <% end %>
            <%= yield %>
          </div>

      </div>

    </div>


  </div>
</div>